body{
    margin: 0px;
    padding: 0px;
    font-family:'Josefin Sans', sans-serif;
}

#places{
       margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    }
    #places a{
        text-decoration: none;
        color:rgb(236, 215, 20);
                text-shadow: 1px 1px 2px black;
    }
    #places a:hover{
        color:black;
        background-color: rgb(236, 215, 20);
        border-radius:5px;
        margin: 10px;
        padding: 5px;
        box-shadow: 1px 1px 2px black;
    }
header{
display:flex;
flex-direction:row;
justify-content: space-between;
align-items: center;
padding: 15px 50px;
position:absolute;
width:100%;
box-sizing: border-box;
}

header ul{
    display:flex;
    flex-direction:row;
}

header li{
    margin-left: 20px;

}

#page-logo {
    font-family: 'Black Ops One', cursive;
    color: rgb(236, 215, 20);
    font-size: 15px;
    padding:10px;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    
}
